.container{
    text-align: center;
    display: block;
    background-color: rgb(201, 201, 220);
    margin: 100px;
    padding: 100px;
}
.button{
    padding: 10px;
    margin: 10px;
    background-color: beige;
}